body{
    background-image: url('imgs/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
main{
    
    display: flex;
    margin: auto;
  width: 40%;
  height: 40vw;
  text-align: center;
  align-items: center; 
  min-width: 240px;
    min-height: 240px;
}
.navbar-collapse{
  flex-basis:unset;
  flex-grow:inherit;
}
.border-dark-subtle {
    --bs-border-opacity: 0.5;
    border-color: rgba(var(--bs-subtle-dark-rgb), var(--bs-border-opacity)) !important;
  }
div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h1 { font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; font-size: 55px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 53.9px;
}